extends layout

block content
  h1= title
  p Welcome to #[em katarina], a very basic Express inventory managmeant system.

  h1 Katarina

  p this is the inventory

  ul
    li #[strong categories:] !{category_count}
    li #[strong items:] !{item_count}


  p Welcome to #{title}

